<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
      <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-image:url('red-rose.jpg')">


<nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
 <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#"><h4>Home</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><h4>About</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><h4>Education</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><h4>Job</h4></a>
  </li>
</ul>

    </nav>

</body>
</html>