{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="col-4" style="background-color:rgba(0,0,0,0.7);color:white;">
      <h1 style=color:white; ><center>Expense calculator</center> </h1>
        <p style="text-align:justify;">
            You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.
            You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.
            You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.
            You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.You need to keep a record of your daily expenses and stocks in a proper
            format so that you can analyze all your expenditures efficiently and correctly.



        </p>
 </div>
{% endblock %}